<template>
  <require from="../resources/value-converters/date-format"></require>
  <require from="../resources/custom-elements/units"></require>
  <require from="../resources/custom-elements/barbell"></require>

  <h3>${currentWorkout.name}</h3>
  <h5>${currentWorkout.startTime | dateFormat:'dddd Do, MMM YYYY'}</h5>

  <div repeat.for="exercise of currentWorkout.activities">
    <h4># ${exercise.name}</h4>

    <table class="table">
      <tr>
        <th>Volume</th>
        <th>Reps</th>
        <th>Sets</th>
        <th>Best Est. 1RM</th>
        <th>Best Prev. INT</th>
      </tr>
      <tr>
        <td>${progressionDataModel.totalExerciseVolume(exercise.performance)}</td>
        <td>${progressionDataModel.totalExerciseReps(exercise.performance)}</td>
        <td>${progressionDataModel.totalExerciseSets(exercise.performance)}</td>
        <td>TODO</td>
        <td>TODO</td>
      </tr>
    </table>

    <table class="table">
      <tr repeat.for="set of progressionDataModel.groupIdenticalSets(exercise.performance)">
        <td>${progressionDataModel.est1RMforSet(set)} <units is-metric="progressionDataModel.isMetric"></units></td>
        <td>${set.weight} <units is-metric="progressionDataModel.isMetric"></units> x ${set.reps} x ${set.count}</td>
        <td><barbell weight.bind="set.weight"></barbell></td>
        <td>% of EFF, % of INT</td>
      </tr>
    </table>
  </div>
</template>
