<template>
  <require from="../resources/value-converters/date-format"></require>
  <require from="../resources/value-converters/time-difference"></require>
  <require from="./workout-preview"></require>

  <section class="au-animate container-fluid">
    <h2>Workouts</h2>

    <div class="${currentWorkoutIndex !== null ? 'col-xs-6' : ''}">
      <table class="table table-striped table-hover">
        <tr>
          <th>Date</th>
          <th>Workout</th>
          <th>Exercises</th>
          <th>Duration</th>
        </tr>
        <tr repeat.for="workout of progressionData.workouts" click.trigger="selectWorkout($index)">
          <td>${workout.startTime | dateFormat}</td>
          <td>${workout.name}</td>
          <td>${workout.activities.length}</td>
          <td>${workout.startTime | timeDifference:workout.endTime}</td>
        </tr>
      </table>
    </div>

    <workout-preview class="col-xs-6" if.bind="currentWorkoutIndex !== null" workout-index.bind="currentWorkoutIndex"></workout-preview>

  </section>
</template>
