<template>
  <section class="au-animate">

    <h2>${heading}</h2>

    <form role="form" submit.delegate="submit()">

      <div class="form-group">
        <label for="progression-db-file">Progression DB File</label>
        <input type="file" files.bind="progressionDbFile" id="progression-db-file">
      </div>

      <button type="submit" class="btn btn-default">Submit</button>

    </form>

    <br>

    <div>${workoutJson}</div>

  </section>
</template>
